VITE_FIREBASE_API_KEY=AIzaSyDKaaYw7lThNbovr174k8CKcQQrO8hUAZg
VITE_FIREBASE_AUTH_DOMAIN=whiskey-atlas.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=whiskey-atlas
VITE_FIREBASE_STORAGE_BUCKET=whiskey-atlas.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=235421330318
VITE_FIREBASE_APP_ID=1:235421330318:web:ed802de71b19d0365c52df
